extends ./layout/layout
block content
  include ./blocks/menu
  include ./blocks/header
  include ./blocks/technologies
  include ./blocks/features
  include ./blocks/feature_request
  include ./blocks/pricing
  include ./blocks/testimonials
  include ./blocks/in_touch
  include ./blocks/footer
