.footer
  img.footer__bg(src='assets/img/bottom_bg.png' alt='')
  .container
    .row
      .col-md-12
        .footer__wrap
          .footer__left
            p.footer__title MyProduct
            p.footer__caption Customers’ happiness service
          .footer__right
            .footer__socials
              a.footer__social.mdi.mdi-telegram(href='')
              a.footer__social.mdi.mdi-twitter(href='')
              a.footer__social.mdi.mdi-skype(href='')
              a.footer__social.mdi.mdi-instagram(href='')
              a.footer__social.mdi.mdi-dribbble(href='')
            p.footer__caption Copyright © 2017. MyProduct. All rights reserved.