.header(style='background-image: url(\'assets/img/header_bg.png\')')
  .container
    .row
      .col-md-12
        h2.header__title Solve the customers problems in minutes!
        p.header__subhead Do you see any Teletubbies in here? Do you see a slender plastic tag clipped to my shirt with my name printed on it?
        a.btn.btn--header(href='') Try it for free!
        img.header__img(src='assets/img/macbook.png' alt='')