.menu
  .container
    .row
      .col-md-12
        .menu__wrap
          p.menu__logo
            img(src='assets/img/logo_landing.png' alt='')
          nav.menu__nav
            a.menu__nav-item(href='#about') About
            a.menu__nav-item(href='#features') Features
            a.menu__nav-item(href='#pricing') Pricing
            a.btn(href='') Buy now for $26