section.section
  img.section__background.section__background--left(src='assets/img/right_bg.png' alt='')
  .container
    .row
      .col-md-12
        h3.section__title Pricing
    .row.pricing
      .col-md-4.col-sm-8.col-12.m-auto.m-md-0
        .pricing__card
          h4.pricing__card-title Personal
          .pricing__card-price
            p 29
              span $
          p.pricing__card-feature 10GB file storage
          p.pricing__card-feature Free Support 12 month
          p.pricing__card-feature Up to 5 users
          a.pricing__card-btn(href='') Get started
            span.mdi.mdi-chevron-right
      .col-md-4.col-sm-8.col-12.m-auto.m-md-0
        .pricing__card.pricing__card--recommend
          h4.pricing__card-title Startup
          .pricing__card-price
            p 49
              span $
          p.pricing__card-feature 10GB file storage
          p.pricing__card-feature Free Support 12 month
          p.pricing__card-feature Up to 5 users
          p.pricing__card-feature Unlimit projects
          a.pricing__card-btn(href='') Get started
            span.mdi.mdi-chevron-right
      .col-md-4.col-sm-8.col-12.m-auto.m-md-0
        .pricing__card
          h4.pricing__card-title Company
          .pricing__card-price
            p 59
              span $
          p.pricing__card-feature 100GB file storage
          p.pricing__card-feature Free Support 12 month
          p.pricing__card-feature Up to 5 users
          a.pricing__card-btn(href='') Get started
            span.mdi.mdi-chevron-right
