section.section
  img.section__background(src='assets/img/right_bg.png' alt='')
  .container
    .row
      .col-md-12
        h3.section__title.section__title--additional The MyProduct based on popular and powerful technological stack that’s why it allows you to create massive and serious projects easily
    .row
      .col-md-3.col-sm-6.col-12.ml-auto
        .technology
          .technology__img-wrap
            img.technology__img(src='assets/img/technologies/react.png' alt='')
          p.technology__title React Based App
      .col-md-3.col-sm-6.col-12.mr-auto
        .technology
          .technology__img-wrap
            img.technology__img(src='assets/img/technologies/bootstrap-stack.png' alt='')
          p.technology__title Bootstrap 4 framework
    .row
      .col-md-2.col-sm-4.col-6.ml-md-auto
        .technology.technology--small
          .technology__img-wrap
            img.technology__img(src='assets/img/technologies/router.png' alt='')
          p.technology__title React Router
      .col-md-2.col-sm-4.col-6
        .technology.technology--small
          .technology__img-wrap
            img.technology__img(src='assets/img/technologies/redux_form.png' alt='')
          p.technology__title Redux Form
      .col-md-2.col-sm-4.col-6
        .technology.technology--small
          .technology__img-wrap
            img.technology__img(src='assets/img/technologies/sass.png' alt='')
          p.technology__title SCSS Preprocessor
      .col-md-2.col-sm-4.col-6.ml-sm-auto.ml-md-0
        .technology.technology--small
          .technology__img-wrap
            img.technology__img(src='assets/img/technologies/mat_ui.png' alt='')
          p.technology__title Material UI
      .col-md-2.col-sm-4.col-6.mr-auto.ml-auto.ml-sm-0
        .technology.technology--small
          .technology__img-wrap
            img.technology__img(src='assets/img/technologies/redux.png' alt='')
          p.technology__title Redux

